<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>tests_5_03</title>
    <link rel="stylesheet" href="/it-case/base.css" type="text/css">
</head>
<body>

    <h1>Hello</h1>

    
		<div class="uc1">
			
        <div class="c1">
        	
        component
    
        </div>
        <div class="c2">
        	
        component
    
        </div>
        <div class="c3">
        	
        component
    
        </div>
    
		</div>
		<div class="uc2">
			
        <div class="c1">
        	
        component
    
        </div>
        <div class="c2">
        	
        component
    
        </div>
        <div class="c3">
        	
        component
    
        </div>
    
		</div>
		<div class="uc3">
			
        <div class="c1">
        	
        component
    
        </div>
        <div class="c2">
        	
        component
    
        </div>
        <div class="c3">
        	
        component
    
        </div>
    
		</div>
	
</body>
</html>
