<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>tests_2_08</title>
    <link rel="stylesheet" href="../base.css" type="text/css">
</head>
<body>

<h1>component 1-2-3 test</h1>

<div class="main">
    <h2>components</h2>

    <p><h3>Component[0]:/it-case/component/component1/target.html</h3><div id="centered">
        <div style="text-align: center">component value</div>
    </div></p><p><h3>Component[1]:./component2.html</h3>
        <div style="text-align: center">256</div>
    </p><p><h3>Component[2]:./component/component3.html</h3><div id="centered">
        <div style="text-align: center">component value</div>
    </div></p>
</div>

</body>
</html>
