<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>MayaServlet</servlet-name>
        <servlet-class>org.seasar.maya.impl.MayaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MayaServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

	<taglib>
		<taglib-uri>http://org.seasar.maya/sample2</taglib-uri>
		<taglib-location>/WEB-INF/tld/maya-sample2.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>maya-sample3</taglib-uri>
		<taglib-location>/WEB-INF/tld/maya-sample3.tld</taglib-location>
	</taglib>
</web-app>
