.container {
	padding: 8px;
}
.container h1 {
	font-family: serif;
}
h2, h3, h4, p {
	padding: 0;
	margin: 0;
}
h2 {
	border-bottom: dotted 2px #49f;
	width: 30%;
	margin-bottom: 4px;
}
h3 {
	margin: 0.5em 0 0.5em 0;
	padding-left: 2px;
	border-left: solid 5px #4b9;
	border-bottom: dotted 1px #4b9;
}
div.sample {
	border: solid 1px #49f;
	margin: 1em 0 0 0;
	padding: 2px;
}
code {
	font-weight: normal;
	font-size: 100%;
	font-family: monospace;
}
div.indent {
	margin: 0;
	padding: 0;
	margin-left: 2em;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
