<!DOCTYPE html>
<html lang="ja" class="light">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/prismjs/prism.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="/js/flowbite.min.js" defer></script>
</head>
<body>
  {% include navi %}
 
  <div class="mt-12 sm:p-4">
    <section class="p-2 sm:px-12 w-full mx-auto text-xs bg-white dark:bg-slate-800 rounded-lg py-8 ring-1 ring-slate-900/5 shadow-xl">
      {{ content }}
    </section>
    <footer>
      <span class="text-center text-sm">Copyright (c) 2004-2009 the Seasar Foundation and others. all rights reserved.</span>
    </footer>
  </div>
</body>
</html>
