<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>tests_2_05</title>
    <link rel="stylesheet" href="../base.css" type="text/css">
</head>
<body>

<h1>recursive</h1>

<div class="main">
    <div class="inner" style="border: solid 1px black; padding: 2px;">
        
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">
        <div id="frame" class="inner" style="border: solid 1px black; padding: 2px;">
            <div id="innerBox" style="border: solid 1px pink; padding: 2px;">end</div>
        </div>
    </div>
        </div>
    </div>
        </div>
    </div>
        </div>
    </div>
        </div>
    </div>
        </div>
    </div>
        </div>
    </div>
        </div>
    </div>
        </div>
    </div>
        </div>
    
    </div>
</div>

</body>
</html>
