@charset "UTF-8";

body {
	font-family: Osaka, "ヒラギノ角ゴ Pro W3";
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
}

main {
	border-top:blue 4px solid;
	margin:auto;
	box-shadow:
	0 8px 10px 1px  rgba(0, 0, 0, 0.14),
	0 3px 14px 2px  rgba(0, 0, 0, 0.12),
	0 5px  5px -3px rgba(0, 0, 0, 0.20);
	background-color: white;
}

.header-banner {
	text-align: left;
	height: 48px;
  background-image: url(../images/topstripe.gif);	
}

.toparea-menu {
	height: 175px;
	background-image: url(../images/menuback.jpg);
	display: flex;
	gap: 1px;
}

.toparea-menu a:hover {
	opacity: 0;
}

.subarea-menu {
	height: 55px;
	display: flex;
	gap: 1px;
}

.subarea-menu a:hover {
	opacity: 0;
}

img {
	border: none;
}


div.release {	color: #333333;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 1em;
}

div.navi {
	padding-top: 4em;
	text-align: center;}

div.navi-prev {
	float: left;}

div.navi-next {
	float: right;}

div.navi-end {
	clear: all;
}

div.copyrights {
	text-align: center;
}

.sidemenu a{
	display: block;
	width: 150px;
	background-image: url(../about/images/sidemenu.gif);
	background-repeat: no-repeat;
	padding: 11px 0 11px 10px;
	line-height: 12px;
	margin-bottom: -3px;
	text-align: left;
	text-decoration: none;	color: #1c7baf;
}

.sidemenu a:hover {
	background-image: url(../about/images/sidemenu_o.gif);
	color: #000066;
}

.sidemenutext a{
	color: #0033CC;
	text-decoration: none;
	margin-left: 7px;
	padding: 0 0 0 10px;
	background-image: url(../images/arrow01.gif);
	background-repeat: no-repeat;
	background-position: -2px 1px;	line-height: 18px;
}

.sidemenutext a:hover {
	color: #0033CC;
	text-decoration: underline;
}

.sidemenutext span{
	color: #333333;
	text-decoration: underline;
	margin-left: 7px;
	padding: 0 0 0 10px;
	background-image: url(../images/arrow01.gif);
	background-repeat: no-repeat;
	background-position: -2px 1px;	line-height: 18px;
}

strong {
	color: #883300;
}

code {
	font-family: monospace;	color: #003388;
}

pre {
	font-family: monospace;
	padding: 8px;
	line-height: 110%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 5px;
	margin-right: 10px;	text-align: left;
	color: #333333;
	border: 1px dotted #0033CC;
}

pre .file {
	display: block;
	margin: 0;
	padding: 8px;
	border: 1px solid #0033CC;
}

.maincontents {
	background-color: white;
	width: 760px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#contentsleft {
	float: left;
	width: 178px;
	padding: 10px;
	text-align: left;
	padding-top: 0;
}

#contentsright {
	float: left;
	width: 554px;
	padding-left: 6px;
	text-align: left;
	background-image: url(../images/contents_div_gray.gif);
	background-repeat: repeat-y;
}

#contentsright_top {
	float: left;
	width: 554px;
	text-align: left;
	padding-left: 6px;
	background-image: url(../images/contents_div_gray.gif);
	background-repeat: repeat-y;
}

.text10px {
	font-size: 10px;
	line-height: 150%;
	color: #666666;
}

.text11px {
	font-size: 11px;
	line-height: 150%;
	color: #666666;
}

.infomark div.item {
	padding-bottom: 10px;
	padding-left: 14px;
	margin-left: 10px;
	background-image: url(../images/arrow01.gif);
	background-repeat: no-repeat;
	background-position: 0px 4px;	line-height: 160%;
	color: #333333;
}

.infomark ul {
	margin: 0;
	padding-left: 0;
	margin-left: 20px;
}

.banner {
	float: right;
	padding: 0;
	margin: 0;
}

.download div {
	padding-bottom: 10px;
	padding-left: 14px;
	background-image: url(../images/arrow01.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	font-size: 11px;
	line-height: 130%;
	color: #333333;
}

.download_direct .filelink {
	padding-bottom: 10px;
	padding-left: 26px;
	font-size: 11px;
	line-height: 130%;
	color: #333333;
}

#contentsright a img {
	vertical-align: middle;
}

.releasenote {
	font-size: 11px;
	padding-top: 1.5em;
	margin-left: 4em;
}

h1 {
	font-size: 2.0;
	font-weight: normal;
	color: #1C4BAF;
	margin-left: 5px;
	margin-top: 8px;
}


h3.top {
	margin-top: 0em;
	background-image: none;
	padding-left: 0;
}

h4 {	font-weight: normal;
	color: #1C4BAF;
	margin-top: 2em;
	margin-left: 1em;
	margin-bottom: -10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #1C4BAF;
	margin-right: 20px;
}

h5 {
	font-size: 11px;
	font-weight: normal;
	margin-left: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
	color: #1C4BAF;
}

span.top_recent {
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 0;
	color: #1C4BAF;
}

.nomargin-top {
	margin-top: 0;
}

.nomargin-bottom {
	margin-bottom: 0;
}

table.tbline {
	border-collapse: collapse;
	border: 1px solid #999999;
}

table.tbline td {
	line-height: 130%;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #C0C0C0;	color: #666666;
}

table.tbline th {
	text-align: left;
	background-color: #D8E4FE;
	font-weight: bold;	color: #1C4BAF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C0C0C0;
}

table.tbline th div {
	text-align: center;
}

.figure {
	text-align: center;
	margin-left: 5px;
	padding-bottom: 5px;	color: #1C4BAF;
}

.omit {
	font-style: italic;
	color: #6060F0;
}

.center {
	text-align: center;
}

.toc {
	padding: 1em;
}

.to_toc {
	font-size: 9px;
	font-weight: normal;
}

dl.reference {	padding-left: 20px;
}

dl.reference dd {	margin-bottom: 1em;
	padding-left: 20px;
}

dl.list {
	border: 1px dotted #0033CC;	margin: 20px;
	padding: 10px;
}

dl.list dd {	margin-bottom: 1em;
	margin-left: 20px;
}


li.fix {
	list-style-type: square;
	list-style-image: url("../images/list_fix.gif");
}

li.enhance {
	list-style-type: circle;
	list-style-image: url("../images/list_enhance.gif");
}

li.tune {
	list-style-type: disc;
	list-style-image: url("../images/list_tune.gif");
}

li.other {
	list-style-type: disc;
	list-style-image: url("../images/list_other.gif");
}

@media print {

	#contentsleft {
		display: none;
	}

	#contentsright {
		width: 100%;
		padding-left: 0;
		background-image: none;
	}

	#contentsright_top {
		width: 100%;
		padding-left: 0;
		background-image: none;
	}

	.navi {
		display: none;
	}

	.contentslogo {
		display: none;
	}

	.menudocs {
		display: none;
	}

	.background {
		background-image: none;
		background-color: white;
	}

	div.copyrights {
		display: none;
	}

}

/* menu contents */
@charset "UTF-8";

a:hover {
	background-color: transparent;
	text-decoration: underline; 
} 

#menu01 {
    font-size:64px;
}

#menu02 {
    font-size:64px;
}

#menu03 {
    font-size:64px;
}

#menu04 {
    font-size:64px;
}

#menu05 {
    font-size:64px;
}

#menu06 {
    font-size:64px;
}

#menu07 {
    font-size:30px;
}

#menu08 {
    font-size:64px;
}

.contentslogo {
	width: 760px;
	height: 48px;
	background-color: white;
	background-image: url(../images/logo.gif);
	background-repeat: no-repeat;
}


.menuabout {
	width: 760px;
	height: 60px;
	background-color: white;
	background-image: url(../about/images/menuback.gif);
	background-repeat: no-repeat;
}

.menuabout a:hover img {
/*	visibility: hidden; */
} 

.menunews {
	width: 760px;
	height: 60px;
	background-color: white;
	background-image: url(../news/images/menuback.gif);
	background-repeat: no-repeat;
}

.menunews a:hover img {
/*	visibility: hidden; */
} 

.menudocs {
	width: 760px;
	height: 60px;
	background-color: white;
	background-image: url(../documentation/images/menuback.gif);
	background-repeat: no-repeat;
}

.menudocs a:hover img {
/*	visibility: hidden; */
} 

.menudown {
	width: 760px;
	height: 60px;
	background-color: white;
	background-image: url(../downloads/images/menuback.gif);
	background-repeat: no-repeat;
}

.menudown a:hover img {
/*	visibility: hidden; */
} 

.menusubpro {
	width: 760px;
	height: 60px;
	background-color: white;
	background-image: url(../subprojects/images/menuback.gif);
	background-repeat: no-repeat;
}

.menusubpro a:hover img {
/*	visibility: hidden; */
} 

.menusupport {
	width: 760px;
	height: 60px;
	background-color: white;
	background-image: url(../support/images/menuback.gif);
	background-repeat: no-repeat;
}

.menusupport a:hover img {
/*	visibility: hidden; */
} 

li {	line-height: 140%;
	margin-bottom: 6px;
	margin-right: 10px;
}
