@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.article-link a {
  @apply text-blue-500 underline;
}

.bg-img-bluesky {
  background:linear-gradient(to bottom, transparent 12px, white 29px), url(../images/bg_hdr_about.jpg) repeat-x;
  transition: all 3s ease-out;
}
.bg-img-broadsea {
  background:linear-gradient(to bottom, transparent 12px, white 29px), url(../images/bg_hdr_news.jpg) repeat-x;
  transition: all 3s ease-out;
}
.bg-img-grass {
  background:linear-gradient(to bottom, transparent 12px, white 29px), url(../images/bg_hdr_subproject.jpg) repeat-x;
  transition: all 3s ease-out;
}
.bg-img-greenrock {
  background:linear-gradient(to bottom, transparent 12px, white 29px), url(../images/bg_hdr_doc.jpg) repeat-x;
  transition: all 3s ease-out;
}
.bg-img-deepsea {
  background:linear-gradient(to bottom, transparent 12px, white 29px), url(../images/bg_hdr_support.jpg) repeat-x;
  transition: all 3s ease-out;
}
.bg-img-reef {
  background:linear-gradient(to bottom, transparent 12px, white 29px), url(../images/bg_hdr_download.jpg) repeat-x;
  transition: all 3s ease-out;
}

.bg-img-mayaa-illust {
  background-image:url(../images/mayaa-illust.svg);
  background-size:auto 44px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

code[data-filename]:before {
  content: attr(data-filename);
  display: block;
  @apply bg-slate-300 -mt-2 -mx-2 mb-2 px-2 italic rounded-t-sm;
}

.callout-alert {
  @apply bg-red-100 border border-red-400 text-red-700 pl-8 py-1 rounded relative my-4;
}
.callout-alert::before {
  @apply bg-red-500 text-white font-bold absolute -ml-8 -mt-1 w-6 py-1 text-center text-xs rounded-sm;
  content: "!";
}
.callout-notice {
  @apply bg-blue-100 border border-blue-400 text-blue-700 pl-8 py-1 rounded relative my-4;
}
.callout-notice::before {
  @apply bg-blue-500 text-white font-bold absolute -ml-8 -mt-1 w-6 py-1 text-center text-xs rounded-sm;
  content: "#";
}

[aria-current="page"] {
  @apply bg-blue-700 text-white;
}

@layer base {
  body {
    @apply bg-gray-100 dark:bg-gray-800 text-sm;
  }
  h2 {
    @apply py-2 my-4 text-2xl text-blue-800 font-semibold;
  }
  h3 {
    @apply p-1 my-4 text-base text-blue-800 dark:text-white font-semibold border-b-2 border-gray-400;
  }
  h4 {
    @apply mb-2 text-base text-blue-800 dark:text-white font-semibold;
  }
  h1[id], h2[id], h3[id], h4[id] {
    /* padding-top: 68px;
    margin-top:-68px; */
    padding-top: 102px;
    margin-top:-102px;
  }

  .github {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 16 16%22 width%3D%2214%22 height%3D%2214%22%3E%3Cpath fill%3D%22rgb(63 131 248)%22 fill-rule%3D%22evenodd%22 d%3D%22M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-left: 17px;
  }
  
  .twitter {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xml%3Aspace%3D%22preserve%22 viewBox%3D%220 0 248 204%22 width%3D%2214%22 height%3D%2214%22%3E%3Cpath fill%3D%22rgb(63 131 248)%22 d%3D%22M221.95 51.29c.15 2.17.15 4.34.15 6.53 0 66.73-50.8 143.69-143.69 143.69v-.04c-27.44.04-54.31-7.82-77.41-22.64 3.99.48 8 .72 12.02.73 22.74.02 44.83-7.61 62.72-21.66-21.61-.41-40.56-14.5-47.18-35.07 7.57 1.46 15.37 1.16 22.8-.87-23.56-4.76-40.51-25.46-40.51-49.5v-.64c7.02 3.91 14.88 6.08 22.92 6.32C11.58 63.31 4.74 33.79 18.14 10.71c25.64 31.55 63.47 50.73 104.08 52.76-4.07-17.54 1.49-35.92 14.61-48.25 20.34-19.12 52.33-18.14 71.45 2.19 11.31-2.23 22.15-6.38 32.07-12.26-3.77 11.69-11.66 21.62-22.2 27.93 10.01-1.18 19.79-3.86 29-7.95-6.78 10.16-15.32 19.01-25.2 26.16z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-left: 17px;
  }

  p {
    @apply dark:text-white text-sm;
  }
  article img {
    @apply mx-auto m-4 p-4 bg-white rounded-md;
  }
  ul {
    @apply ml-4 my-4 text-sm;
  }
  ol {
    @apply ml-4 my-4 text-sm;
  }
  ol li {
    @apply mt-2 list-decimal;
  }
  article {
    @apply text-black dark:text-white;
  }
  article ul li {
    @apply mt-2 list-disc;
  }

  article p {
    @apply mb-4;
  }
  article .callout p {
    @apply mb-0;
  }

  article pre {
    @apply my-4 p-2 rounded border border-gray-400;
  }

  article pre code {
    @apply text-xs;
  }

  article table {
    @apply w-full overflow-auto my-4 border-collapse border border-gray-400;
  }
  article th,
  article td {
    @apply border border-gray-400 px-4 py-2;
  }

  article dt {
    @apply font-bold text-sm;
  }
  article dd {
    @apply ml-4 mb-4 text-sm;
  }

  code {
    @apply text-gray-600;
  }

}
